<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jiat.travelraapp">

    <queries>
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TravelRaApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelRaApp"
        tools:replace="android:label">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAlgZrCVX9GsjUX2pObO1yRk-AP0C0JoYU" />

        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ContactInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".SignupActivity" android:exported="false" />
        <activity android:name=".HomeActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".TourPackageListActivity" android:exported="false" />
        <activity android:name=".TourDetailActivity" android:exported="false" />
        <activity android:name=".TaxiBookingActivity" android:exported="false" />
        <activity android:name=".FareEstimateActivity" android:exported="false" />
        <activity android:name=".BookingConfirmedActivity" android:exported="false" />
        <activity android:name=".RouteMapActivity" android:exported="false" />
        <activity android:name=".NotificationActivity" android:exported="false" />

        <activity
            android:name="lk.payhere.androidsdk.PHMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />

    </application>
</manifest>